 body {
   background-color: white;
   text-align: center;
   margin: 0px;
 }

 h1 {
   font-size: 40px;
   font-family: 'Oswald', sans-serif;
 }

 h2 {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

#h3 p{
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-left: 100px;
}

h4{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h4 a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
  color:#163750;
}

h4 a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: #E6F6CA;
    opacity: 0.7;
}

#navigation {
  width: 100%;
  background-color: #E6F6CA;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

#datawrapper-chart-TnQ2g{
  width: 90%;
  width: 0;
  min-width: 80%;
  border: none;
  height: 320px;
}

#datawrapper-chart-AJZzC{
  width: 0px;
  min-width: 70%;
  border: none;
  height: 282px;
}

#chart_container{
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.rows {
  margin-bottom: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #bbb;
	width: 100%;
	float: left;
}

.Age {
	width: 100%;
	margin-bottom: 0.2em;
	font-family: 'Oswald', sans-serif;
	float: left;
  text-align: left;
	font-size: 1.1em;
  font-style: italic;
}

.Value {
	float: left;
	display: inline;
	margin-right: 1.5%;
  background: #163750;
  height: 20px;
}

.ValueNumber {
	margin-bottom: 0.2em;
	font-family: 'Oswald', sans-serif;
	float: left;
	font-size: 0.9em;
	display: inline;
}

@media only screen and (min-width: 600px) {
  .Age {
    width: 200px;
  }
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

ul a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color:#163750;
}

ul a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: #E6F6CA;
    opacity: 0.7;
}

#leading ul{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  display: block;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
}

p a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-style:italic;
    color:#163750;
}

p a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: white;
    opacity: 0.7;
}

#captions p{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


img {
    border: none;
    width: 50%;
    min-width: 350px;
    max-width: 800px;
}

#treatment img{
  width: 40%;
  min-width: 350px;
  max-width: 500px;
}

#treatment p{
  font-size: 20px;
}
#pictures img{
  width: 30%;
}

/*third-page special*/
#cta p{
  text-align: center;
  font-size: 20px;
}

#moreinfo p{
  text-align: center;
}

#answer1{
    padding: 15px;
    margin: 20px;
    background: #fff;
    border: 3px solid #ccc;
    border-radius: 10px;
  }



#quiz{
  font-family: 'Lato', sans-serif;
    text-align: center;
}

#quiz h2{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin: 5px 0;
}

#quiz h2 a{
  text-decoration: none;
  font-weight: bolder;
  color:#163750;
   font-style: italic;
}

#quiz h2 a:hover {
  background-color: #163750;
  font-weight: bolder;
  color: white;
  opacity: 0.7;
}

#mc{
  font-size: 18px;
  margin: 10px 0;
  font-weight: lighter;
}

#answer2 p{
  font-size: 18px;
  margin: 20px 0;
  font-weight: lighter;
}
#button{
  color: #fff;
  background: #AB2125;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 40px;
}

button{
  color: #fff;
  background: #AB2125;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 5px;
  border: 0;
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 40px;
}

#body a{
  text-decoration: none;
  font-weight: bolder;
  color:#163750;
   font-style: italic;
}

#body a:hover {
  background-color: #163750;
  font-weight: bolder;
  color: white;
  opacity: 0.7;
}

#results{
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
}
#fifthlink{
  margin-bottom: 100px;
}

#quiz label{
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}


/*photogallery*/
#body {
  display: flex;
  justify-content: center;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.imageHolder {
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
}

.imageHolder caption {
  margin: 10px 0;
}

img {
  width: 100%;
  max-width: 500px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hideThisDiv {
  display: none;
}


/* footer */
footer{
     background-color: #163750;
     padding:30px 0px;
}

.address li , .menu li{
   color: #FFF;
   font-weight: bold;
   border-bottom: 1px solid #c7c7c7;
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}


@media screen and (max-width: 800px) {
  p {
    font-size: 18px;
  }
  #navigation ul{
    flex-flow: wrap;
  }
  img{
    width: 60%;
  }
  .menu{
  flex-flow: wrap;
  }
  .address{
    flex-flow: wrap;
  }
}



@media screen and (max-width: 600px) {
  #navigation ul{
    flex-flow: column;
    padding: 0;
    font-size: 20px;
  }
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 30px;
  }
  #h3 p{
    font-size: 26px;
  }
  p {
   font-size: 20px;
   padding: 5px;
  }
  img{
    width: 100%;
  }
  .menu{
  flex-flow: wrap;
  }
  .address{
    flex-flow: wrap;
  }
}
