 body {
   background-color: white;
   text-align: center;
   margin: 0px;
 }

 h1 {
   font-size: 40px;
   font-family: 'Oswald', sans-serif;
 }

 h2 {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

h3{
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-left: 100px;
}

#navigation {
  width: 100%;
  background-color: #E6F6CA;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

ul a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color:#163750;
}

ul a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: #E6F6CA;
    opacity: 0.7;
}

#leading ul{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  display: block;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
}

p a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-style:italic;
    color:#163750;
}

p a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: white;
    opacity: 0.7;
}

img {
    border: none;
    width: 50%;
    min-width: 350px;
    max-width: 800px;
}

#treatment img{
  width: 40%;
  min-width: 350px;
  max-width: 500px;
}

#treatment p{
  font-size: 20px;
}

/*third-page special*/
#cta p{
  text-align: center;
  font-size: 20px;
}
#answers {
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}

#answers h2{
  font-size: 24px;
}
#answers p{
    font-size: 22px;
    text-align: center;
}

#moreinfo p{
  text-align: center;
}

/* The entire quiz form */
#quiz-wrap {
  font-family: 'Oxygen', sans-serif;
}

/* Wrapper of each question */
#quiz-wrap .question {
  padding: 15px;
  margin: 10px;
  background: #fff;
  border: 3px solid #ccc;
  border-radius: 10px;
}

/* Question */
#quiz-wrap h1 {
  font-size: 22px;
  margin: 5px 0;
}

/* Options */
#quiz-wrap label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Submit Button */
#quiz-wrap input[type=submit] {
  color: #fff;
  background: #da3e44;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
}


/* footer */
.search-text{
	margin-top:50px;
	background-color: #F1C555;
	padding-top:60px;
	padding-bottom:60px;
}

.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:black;
}

.search-text .btn-search{
    background: #da3e44;
    font-family: 'Roboto', sans-serif;
    border:none;
	  color:#FFF;
	  height: 45px;
    width: 80px;
}

.search-text h4{
    color: black;
    font-weight: 700;
}

footer{
     background-color: #163750;
     padding:30px 0px;
}

.address li , .menu li{
   color: #FFF;
   font-weight: bold;
   border-bottom: 1px solid #c7c7c7;
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}



@media screen and (max-width: 800px) {
  p {
    font-size: 23px;
  }
  #navigation ul{
    flex-flow: wrap;
  }
  img{
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  #navigation ul{
    flex-flow: column;
    padding: 0;
    font-size: 23px;
  }
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;
  }
  p {
   font-size: 23px;
  }
  img{
    width: 100%;
  }
}
